.c-cu-navbar .container-xxl {
  position: relative;
  z-index: 2;
}
.c-cu-navbar .container-xxl .navbar-header__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.c-cu-navbar .container-xxl .navbar-header__list-item {
  margin-left: 2rem;
  display: flex;
}
.c-cu-navbar .container-xxl .navbar-header__list-item-link {
  text-decoration: none;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}
.c-cu-navbar .container-xxl .navbar-header__list-item-link img {
  margin-right: 1rem;
}
.c-cu-navbar .modal-content {
  border-radius: 10px;
}
.c-cu-navbar .modal-header {
  border-bottom: none;
}
.c-cu-navbar .modal-body {
  margin: 0 2rem;
}
.c-cu-navbar .modal-body__header-title {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
}
.c-cu-navbar .modal-body__header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.c-cu-navbar .modal-body__header-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  text-align: center;
  color: rgba(0, 0, 0, 0.2);
}
.c-cu-navbar .modal-body__body .input-group {
  box-shadow: -4px 4px 8px rgba(221, 222, 226, 0.2), 4px -4px 8px rgba(221, 222, 226, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.9), 4px 4px 10px rgba(221, 222, 226, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(221, 222, 226, 0.5);
  border-radius: 10px;
  border: none;
  padding: 0.5rem 0;
}
.c-cu-navbar .modal-body__body .input-group input {
  border: none;
  height: 100%;
}
.c-cu-navbar .modal-body__body .input-group input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.c-cu-navbar .modal-body__body .input-group input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.c-cu-navbar .modal-body__body .input-group input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.c-cu-navbar .modal-body__body .input-group input:focus {
  box-shadow: none;
}
.c-cu-navbar .modal-body__body .input-group span {
  background-color: transparent;
  border: none;
}
.c-cu-navbar .modal-body__body-warning {
  color: #f77879;
  margin: 0;
  padding: 0.4rem 0.4rem 0 0.4rem;
}
.c-cu-navbar .modal-body__body label {
  color: rgba(0, 0, 0, 0.2);
}
.c-cu-navbar .modal-body__body-forget {
  color: #ffc258;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  cursor: pointer;
}
.c-cu-navbar .modal-body__forget .input-group {
  box-shadow: -4px 4px 8px rgba(221, 222, 226, 0.2), 4px -4px 8px rgba(221, 222, 226, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.9), 4px 4px 10px rgba(221, 222, 226, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(221, 222, 226, 0.5);
  border-radius: 10px;
  border: none;
  padding: 0.5rem 0;
}
.c-cu-navbar .modal-body__forget .input-group input {
  border: none;
  height: 100%;
}
.c-cu-navbar .modal-body__forget .input-group input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.c-cu-navbar .modal-body__forget .input-group input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.c-cu-navbar .modal-body__forget .input-group input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.c-cu-navbar .modal-body__forget .input-group input:focus {
  box-shadow: none;
}
.c-cu-navbar .modal-body__forget .input-group span {
  background-color: transparent;
  border: none;
}
.c-cu-navbar .modal-footer {
  margin: 0 2rem 2rem 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top: none;
}
.c-cu-navbar .modal-footer button {
  width: 100%;
  padding: 1.5rem 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  background: #ffc258;
  border-radius: 20px;
  border: none;
  color: #000;
}
.c-cu-navbar .modal-footer button:focus {
  box-shadow: none;
}
.c-cu-navbar .modal-footer p {
  color: rgba(0, 0, 0, 0.2);
}
.c-cu-navbar .modal-footer p a {
  color: #ffc258;
  cursor: pointer;
}

@media (max-width: 768px) {
  .c-cu-navbar {
    display: none;
  }
}/*# sourceMappingURL=NavbarHeader.style.css.map */