.v-home {
  background: url("../../assets/images/headerBackground.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-top: 1rem;
  position: relative;

}
