.c-l-partners {
  h1 {
    margin: 4rem 0;
  }
  .partners {
    display: flex;
    &-item {
      margin: 0 0.5rem;
      display: flex;
      flex: 1;
      border: none;
      box-shadow: -5px 5px 10px rgba(230, 230, 230, 0.2),
        5px -5px 10px rgba(230, 230, 230, 0.2),
        -5px -5px 10px rgba(255, 255, 255, 0.9),
        5px 5px 13px rgba(230, 230, 230, 0.9),
        inset 1px 1px 2px rgba(255, 255, 255, 0.3),
        inset -1px -1px 2px rgba(230, 230, 230, 0.5);
      border-radius: 20px;
      justify-content: center;
      align-items: center;
      padding: 3rem;
      flex-direction: column;
    }
  }
}
