.c-cu-offers {
    display: flex;
    justify-content: space-between;

    .tabs {
        width: 30%;
        height: 672px;
        border-radius: 16px 0 0 16px;
        overflow: hidden;
        overflow-y: auto;

        &-header {
            list-style: none;

            &__item {
                padding: 4rem 1rem;
                margin-bottom: 1rem;
            }
        }
    }

    .tab-panels {
        width: 70%;
    }
}