.c-l-news {
  &.blog {
    margin: 8rem 0;
  }
  .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    background-color: transparent;
    img {
      border-radius: 20px;
    }

    &-title {
      font-weight: 700;
      font-size: 21px;
      -webkit-line-clamp: 2;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }

    &-text {
      color: rgba(0, 0, 0, 0.5);
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
    }
  }
}
