.c-l-header {
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($color: #1e4382, $alpha: 0.8);
    z-index: 1;
  }

  h1 {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    padding: 6rem 0 8rem 0;
  }
}
