@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.v-home {
  .home-header {
    position: relative;
  }

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($color: #1e4382, $alpha: 0.8);
    z-index: 1;
  }
}

