@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

input:focus,
select:focus {
  outline: none;
}

.p-home,
.p-about,
.p-offers {
  .home-header,
  .about-header,
  .offers-header {
    position: relative;
  }

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($color: #1e4382, $alpha: 0.8);
    z-index: 1;
  }
}

h1.custom-headline {
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  text-align: center;
}

.offers-component {
  padding: 4rem 0;

  &__image {
    height: 50vh;
  }

  &__title {
    margin: 4rem 0;
  }

}

.map {
  margin: 5rem 2rem;
  width: fit-content;
  border-radius: 20px;
  overflow: hidden;
}